---
import Header from "../components/header.astro";
import "../styling/main.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="src/styling/main.css">
		<link rel="stylesheet" href="src/styling/baeredygtighed.css">
		<title>baeredygtighed</title>
	</head>
    <body>
        <header><Header /></header>
        <main>
            <div class="akustik_info">
                <div id="tekst">
                    <h1>God akustik med god samvittighed</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div id="akustik_video">
                    <img src="/" alt="" height="200" width="350">
                </div>
            </div>
            <div class="materialer">
                <div class="title">
                    <h2>Materialer</h2>
                </div>
                <div class="scrolling-wrapper">
                    <div class="card" >
                        
                    </div>
                </div>
                
            </div>
        </main>
        
    </body>
</html>