---
import Header from "../components/header.astro";
import "../styling/main.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="src/styling/main.css">
		<link rel="stylesheet" href="src/styling/index.css">
		<title>Forside</title>
	</head>
	<body>
		<header><Header /></header>
		<main>
		<div id="splash">
			<img src="" alt="">
			<div>
				<h1>BÆREDYGTIG CUSTOM AKUSTIK</h1>
				<a href="#fordele"><img id="arrow" src="images/Arrow.svg" alt=""></a>
			</div>
		</div>
		<div id="fordele">
			<div>
				<h1>Fordele ved god akustik</h1>
			</div>
			<div id="fordele_liste">
				<ul>
					<li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare arcu eget justo interdum.</p></li>
					<li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare arcu eget justo interdum.</p></li>
					<li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare arcu eget justo interdum.</p></li>
					<li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare arcu eget justo interdum.</p></li>
					<li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare arcu eget justo interdum.</p></li>
				</ul>
			</div>
		</div>
		<div class="abs_koeff">
			<div id="graf">
				<h3>Absorberingskoefficient</h3>
				<img src="" alt="" height="300" width="300">
			</div>
			<div id="tekst">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare arcu eget justo interdum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare arcu eget justo interdum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare arcu eget justo interdum.</p>
			</div>
		</div>
		</main>


	</body>
</html>
