---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Booking from "../components/booking.astro";
import "../styling/main.css";
import "../styling/ydelser.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">

		<title>Ydelser</title>
	</head>
    <body>
        <header><Header /></header>
        <main>
            <img class="ydelseswave" src="/images/ydelseswave.svg" alt="">
            <h1>Ydelser</h1>
            <section class="ydelser">

                <div id="konsultation">
                    <h3>Konsultation</h3>
                    <p>Jeg tilbyder akustisk konsultation på mange slags opgaver. Om det er akustiske udregninger, implementering af et lydsystem, design og 3D visualiseringer eller andet, så tøv ikke med at kontakte mig.</p>
                    <h4>400kr. i timen + moms</h4>
                </div>
                <div id="projektstyring">
                    <h3>Projektstyring</h3>
                    <p>Jeg tilbyder pakkeløsninger på projektstyring i forskellige prisklasser afhængig af budget og behov. Et mødelokale, musikstudie, videoredigeringslokale eller en kaffebar vil alle have vidt forskellige akustiske behov og udfordringer. Med en pakkeløsning fra GallAcoustics vil design, udregninger, fremstilling og montering af akustikelementerne alt sammen blive løst til en fast og forudbestemt pris.</p>
                    <ul>
                        <li><h4>fra 5.000kr.</h4></li>
                        <li><h4>Amatør fra 7.500kr.</h4></li>
                        <li><h4>Professionel fra 10.000kr.</h4></li>
                    </ul>
                </div>
                <div id="paneler">
                    <h3>Paneler</h3>
                    <div id="panel_billede">
                    </div>
                    <p>Det er muligt at få fremstillet (eller blot designet) akustikpaneler stykvist. De bliver lavet efter bestilling, og det er derfor muligt at få dem lavet i de former og farver der ønskes. Panelerne bliver specifikt designet til at løse problemerne i dit rum.</p>
                    <h4>Fra 1.500kr.</h4>
                </div>
            </section>
            <div class="booking_knap">
                <Booking />
            </div>

        </main>
        <footer><Footer /></footer>    
    </body>
</html>