main {
  margin: 40px 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 100;
}

.bæredygtigwave {
  position: absolute;
  width: 140%;
  height: 450px;
  z-index: 1;
  transform: scaleX(-1);
}
header ul li:nth-child(3) {
  font-weight: 900;
}

.akustik_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
  z-index: 1000;
}
#tekst h1 {
  margin-bottom: 20px;
}
#akustik_video {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#video {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 750px) {
  .akustik_info {
    
    width: 65%;
  }
}

@media (min-width: 1100px){
  .akustik_info {
    width: 75%;
    flex-direction: column;
  }
  #akustik_video {
    flex-direction: row;
    flex: 1 1 0px;
  }
}

