header ul li:nth-child(3) {
  font-weight: 900;
}



main {
  margin: 40px 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}



.bæredygtigwave {
  position: absolute;
  width: 140%;
  height: 450px;
  z-index: 1;
  transform: scaleX(-1);
}



.akustik_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
  z-index: 1000;
}
#tekst h1 {
  margin-bottom: 20px;
}
#akustik_video {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#video {
  display: flex;
  justify-content: center;
  width: 100%;
}



.materialer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.materialer h2 {
  margin: 15px 0;
}
.card {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}




@media (min-width: 750px) {
  .akustik_info {
    width: 65%;
  }

 
  
/* Materialer container scroll */
  .mat_content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scrolling_wrapper{
    overflow-x: hidden;
    margin: 10px 10px;
    width: 36.5%;
    scroll-behavior: smooth
  }
  .card {
    flex-direction: row;
  }
  /* Materialer container venstre/højre pil hover effekt */
  #arrow1 {
    transform: rotate(90deg);
    transition: 0.2s ease-in-out;
    cursor: pointer;

  }
  #arrow2 {
    transform: rotate(-90deg);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    z-index: 1000;
  }
  #arrow1:hover {
    transform: scale(1.3) rotate(90deg);
  }
  #arrow2:hover {
    transform: scale(1.3) rotate(-90deg);
  }
}



@media (min-width: 1100px){
  .akustik_info {
    width: 75%;
    flex-direction: column;
  }
  #akustik_video {
    flex-direction: row;
    flex: 1 1 0px;
  }



  .scrolling_wrapper{
    width: 55%;
  }
}

