main {
  margin: 50px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header ul li:nth-child(2) {
  font-weight: 900;
}

.akustik_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#tekst h1 {
  margin-bottom: 20px;
}
#akustik_video {
  display: flex;
  justify-content: center;
}

@media (min-width: 750px) {
  .akustik_info {
    flex-direction: row;
    width: 100%;
  }
  #akustik_video {
    justify-content: flex-end;
    align-items: end;
  }
}
