<footer>
    <div class="container">
        <div class="email_tel">
            <a class="mail" href="">gallacoustics@gmail.com</a>
            <p>+45 63572913</p>
        </div>
        <img src="/images/SoMe ikoner.svg" alt="">
        <p class="cvr">CVR: 11111111</p>
    </div>
</footer>

<style>
    footer {
        padding: 50px 0 50px 0;
        background-color: #c6e5d1;
        margin-top: 80px;

    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .container p, .container a{
        font-size: 14px;
        text-decoration: none;
        color: black;
    }
    .email_tel {
        display: flex;
        gap: 20px;
        flex-direction: column;
        text-align: center;
    }
    img {
       width: 150px;
    }
    .mail {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 14px;
    }


@media (min-width: 750px){
    .email_tel {
        display: flex;
        gap: 10px;
        flex-direction: row;
    }
}
</style>