---

---
  
    <nav class="navbar">
      <ul class="navmenu">
        <li class="menu_item"><a href="/">FORSIDE</a></li>
        <li class="menu_item"><a href="/ydelser/">YDELSER</a></li>
        <li class="menu_item"><a href="/baeredygtighed">BÆREDYGTIGHED</a></li>
        <li class="logo"><a href="/"><img src="/images/logo.svg" alt="" height="70" width="70"></a></li>
        <li class="menu_item"><a href="/about/">ABOUT</a></li>
        <li class="menu_item"><a href="/booking/">BOOKING</a></li>
      </ul>
      <a class="logo_mobil" href="/"><img src="/images/logo.svg" alt="" height="70" width="70"></a>
      <div class="burger_menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
</div>
<script src="../scripts/burger.js"></script>

<style>
.navbar {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.navmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 90px;
  width: 100%;
}

.menu_item {
  display: inline-block;
  position: relative;
  color: #008528;
}
li {
  list-style: none;
}
a {
  font-family: 'Assistant', sans-serif;
  color: #008528;
  text-decoration: none;
}

/* "FORSIDE" fjernes på web størrelse */
.menu_item:nth-child(1) {
  display: none;
}

/* Menu knapper hover effekt */
.menu_item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #008528;
  transform-origin: bottom left;
  transition: transform 0.1s ease-out;
}
.menu_item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}




.burger_menu {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #008528;
}

.logo_mobil {
  display: none;
}



@media(max-width:750px){
  .burger_menu {
    display: block;
    position: absolute;
    right: 5%;
    z-index: 10000;
  }
  .logo {
    display: none;
  }
  .logo_mobil {
  display: block;
  position: absolute;
  left: 3%;
  top: 1%;
  z-index: 10;
}


/* burger animation */
  .burger_menu.open .bar:nth-child(2) {
    opacity: 0;
  }
  .burger_menu.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger_menu.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }  



.navmenu {
  position: fixed;
  top: -100%;
  gap: 0;
  flex-direction: column;
  background-color:  #E5F2DC;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  z-index: 50;
}
.menu_item {
  margin: 15px 0;
}
.navmenu.open {
  top: 0;
}
.menu_item:nth-child(1) {
  display: block;
  margin-top: 30px;
}
.menu_item:last-child {
  margin-bottom: 30px;
}
}   
</style>
