---
const { materialer } = Astro.props;
const { name } = Astro.props;
const { description } = Astro.props
const { image } = Astro.props ;
console.log(materialer);
console.log(name);
console.log(description);
console.log(image);
---
<div class="materiale">
    <h4 class="name">{name}</h4>
    <div class="image">
        <img src= {image} alt="" height="250" width="250">
        <div class="text">
            <p>{description}</p>
        </div>
    </div>
</div>
<script src="../scripts/materiale_tekst.js"></script>

<style>
    .materiale {
        display: flex;
        flex-direction: column;
        margin: 10px;
        gap: 10px;
        align-self: flex-start;
    }
    h4 {
        padding-left: 10px;
    }
    .image {
        position: relative;
        border-radius: 5%;
    }
    img, .text {
        border-radius: 20px;
    }
    .text {
        position: absolute;
        width: 100%;
        height: 98.5%;
        padding: 20px;
        top: 0;
        background-color: #0085288d;
        color: #FFFEF0 ;
        opacity: 0%;
        transition: 0.3s;
        cursor: pointer;
    }
    .text.open {
        opacity: 100%;
    }
</style>